*,
*::before,
*::after{
    box-sizing:  border-box;
}
:root{
    --body-bg: hsl(196, 48%, 50%);
}
html{
    scroll-behavior: smooth;
}

body {
    --button-color: rgb(54, 234, 57);
    --text-color: rgb(103, 103, 103);
    margin: 0;
    font-family: Arial, sans-serif;
     background-color: #f5f3ea; /* eggshell base */

  background-color: #f5f3ea;
  background-image: url("assets/noisy-background.jpg");
  background-repeat: repeat;
  background-size: 200px;
  color: #333;
  text-align: justify;
}
div{
    margin-left: 2%;
}
p{
    font-size: 18px;
    
}
h1{
    text-align: center;
    color: var(--text-color);
    font-weight: 800;
}
h2{
    margin-left: 2%;
    font-weight: 800;
}
/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1000;
    align-items: center;
    padding: 20px 60px;
    background-color: rgb(112, 190, 102);
     box-shadow: 0 2px 10px rgba(0, 0, 0, 0.381);
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0;
}

.nav-links a {
    text-decoration: none;
    color:white;
    font-weight: 500;
    transition: 0.3s;
}

.nav-links a:hover {
    color: hsl(117, 100%, 78%);
    cursor: pointer;
}

section{
    
    text-align: left;
    color: var(--text-color);
    margin-bottom: 10%;
}



.mechsection{
    
    margin-top: 2%;
    margin-left: 2%;
}
.mechanics{
    display: flex;
}
.mechanics p{
    margin:2%;
}
canvas{
    width: 50vw;
    height: auto;
}

.canv{
    background-color: rgba(0, 0, 0, 0.497);
   
}

.bounce button{
    background-color:var(--button-color);
    position: inherit;
}

.verletropeclass p{
    margin-left: 2%;
}

.text-section h3{
    margin-left: 2%;
}

.buttonsection3 div {
    display: flex;           
    align-items: center;     
    gap: 5px;                
    flex-direction: row;     
}

.buttonsection3 button {
    font-size: 16px;         
    padding: 5px 10px;       
}

.ankhorpoints{
    display: flex;
}


.mechsection button{
     background-color: var(--button-color);
}
